[run]
branch = True
timid = True
dynamic_context = test_function
[report]
skip_empty = True
include_namespace_packages = True
show_missing = True
sort = Cover
exclude_lines =
    pragma: no cover
    import
    from
[json]
pretty_print = True