[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
email-validator = "*"
pydantic-extra-types = "*"
phonenumbers = "*"
abnf = "*"
docstring-parser = "*"
jsonref = "*"

[dev-packages]
pytest = "*"
vistir = "< 0.7.0"
sphinx = "*"
sphinx-rtd-theme = "*"
autodoc-pydantic = "*"

[requires]
python_version = "3"
